<div id="about" class="text-center section">
	<div class="container">
    <div class=" center">
		<h2 data-aos="fade-down">About Me</h2>
		<hr>
  </div>
		<p data-aos="flip-left"><img class="rounded-circle img-fluid d-block mx-auto" src="../assets/images/pofimg.jpg" alt="My Photo"></p>
		<div class="aboutText text-center font-italic mx-auto d-block">
		<p data-aos="fade-up">I started working as an Incident Manager at HCL Technologies Chennai and after that jumped to Bengaluru and currenly
		working in CSS Corp as a NOC engineer.</p>
		<p data-aos="fade-down">I started building websites as a passion and now completed my Angular course and moving forward at full pace to be a Front End developer.  Stay Tuned with my projects, it is just gonna increase.</p>
		</div>
		 <p class="text-center"><a class="btn btn-primary" href="../../assets/images/Resume.pdf"><i class="fas fa-download"></i> Download Resume</a></p>
	</div>
</div>