<div id="achieve" class="text-center section">
  <div class="container">
    <div class=" center">
      <h2 data-aos="fade-down">Achievements</h2>
      <hr>
    </div>

      <!-- Trigger the Modal -->
      <img id="myImg" class="myImg" data-aos="flip-right" src="../assets/cert1.jpg" alt="HCL Appreciation Certificate"  onclick="popupImage(myImg);">
      <img id="myImg1" class="myImg" data-aos="flip-left" src="../assets/cert2.jpg" alt="HCL Aprecation Certificate"  onclick="popupImage(myImg1);">
      <img id="myImg2" class="myImg" data-aos="flip-right" src="../assets/e-cert.jpg" alt="ITIL v4 Foundation" onclick="popupImage(myImg2);">
      
      <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
      </div>
  </div>
</div>
