<div id="mywork" class="text-center section">
  <div class="container">
    <div class=" center">
      <h2 data-aos="fade-down">My Work</h2>
      <hr>
    </div>
<div class="card-deck">
  <div class="card" data-aos="flip-left">
    <img class="card-img-top" src="../assets/bfresh.jpg" alt="Bfresh website">
    <div class="card-body">
      <h5 class="card-title">BFresh - Catering services</h5>
      <p class="card-text">This is a basic landing page website built for client with catering services. This uses Google forms
	  in contact section, which sends data directly to owners Gmail account.</p>
	  <br>
	  <p>Technologies used: HTML, CSS, Bootstrap, Google Forms</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="https://ajaysree2510.github.io/" target="_blank"> Know More</a>
    </div>
  </div>
  <div class="card" data-aos="flip-right">
    <img class="card-img-top" src="../assets/webport.jpg" alt="My Portfolio">
    <div class="card-body">
      <h5 class="card-title">Portfolio</h5>
      <p class="card-text">This is simple website depicting my informtaion, my resume, my achievements and works. It uses multiple technologies to render a simple informative website. </p>
	  <br>
	  <p>Technologies used: HTML, CSS, Bootstrap, Basic Jquery plugin</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="#"> Know More</a>
    </div>
  </div>
  <div class="card" data-aos="flip-right">
    <img class="card-img-top" src="../assets/coming.png" alt="coming soon">
    <div class="card-body">
      <h5 class="card-title">Other projects</h5>
      <p class="card-text">Other projects coming soon, keep checking this section...</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href=""> Know More</a>
    </div>
  </div>
</div>

</div>
</div>
