<div id="skills" class="text-center section">
  <div class="container">
    <div class="center">
      <h2 data-aos="fade-down">Skills</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 skill" data-aos="fade-down"> <span class="chart" data-percent="95"> <span class="percent">95</span> </span>
        <h4>HTML5</h4>
      </div>
      <div class="col-md-4 col-sm-6 skill" data-aos="fade-down"> <span class="chart" data-percent="85"> <span class="percent">85</span> </span>
        <h4>CSS3</h4>
      </div>
      <div class="col-md-4 col-sm-6 skill " data-aos="fade-down"> <span class="chart" data-percent="80"> <span class="percent">80</span> </span>
        <h4>JavaScript</h4>
      </div>
      <div class="col-md-4 col-sm-6 skill" data-aos="fade-down"> <span class="chart" data-percent="80"> <span class="percent">80</span> </span>
        <h4>Angular</h4>
      </div>
      <div class="col-md-4 col-sm-6 skill" data-aos="fade-down"> <span class="chart" data-percent="70"> <span class="percent">70</span> </span>
        <h4>Bootstrap</h4>
      </div>
      <div class="col-md-4 col-sm-6 skill" data-aos="fade-down"> <span class="chart" data-percent="65"> <span class="percent">65</span> </span>
        <h4>Photoshop</h4>
      </div>
    </div>
  </div>
</div>
